cc_common.create_cc_toolchain_config_info(
    abi_libc_version = abi_libc_version,
    abi_version = abi_version,
    action_configs = action_configs,
    artifact_name_patterns = artifact_name_patterns,
    builtin_sysroot = None,
    cc_target_os = "apple",
    compiler = "compiler",
    ctx = ctx,
    cxx_builtin_include_directories = ctx.attr.cxx_builtin_include_directories,
    features = features,
    host_system_name = host_system_name,
    make_variables = make_variables,
    target_cpu = ctx.attr.cpu,
    target_libc = target_libc,
    target_system_name = target_system_name,
    toolchain_identifier = ctx.attr.cpu,
    tool_paths = [tool_path(name = name, path = path) for (name, path) in tool_paths.items()],
),
